body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: #0d1117;

}

/* Для Адаптивной истории  */


.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    justify-items: center; 
    align-content: center; 
}
.boxes{
    /* border: 10px solid #25688e44; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
    
}
/* Кнопки */

.card__btn{
    font-family: 'Ubuntu', sans-serif;
    width: 250px;
    height: 60px;
    background: #0f2f54;
    font-size: 18px;

    border-color: transparent;
    margin: 4px;
    padding: 0;
}
.card__btn:hover{
    background-color: #3180dbd9;
}
.card__link{
    text-decoration: none;
    color: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    padding: 0;
}
.lvl{
    background-color: transparent;
    color: white;
    padding: 3px;
    margin: 0;
}
.title-course{
    background-color: #66cc66;
    font-weight: 600;
    padding: 0;
}
.title-course:hover{
    background-color: #54ad54;
}
.tasks-card{
    border-radius: 10px;
    
}
.task_link{
    text-align: left;
    padding-left: 15px;
    justify-content: left;
}
.decription-big{
    height: 150px;
    flex-flow: column wrap;
    justify-items: center;
    justify-content: center;
    padding: 0;
    /* padding: 5px; */
}
.description-small{
    font-weight: 200;
    font-size: 10px;
}
.card__img{
    /* height: 40px;
    width: 40px; */
    width: 200px;
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    /* padding-left: 6px; */
    /* padding-bottom: 10px; */
    
}
.invert-color{
    filter: invert(1);
}
