body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #25688e6f;
}

/* Для Адаптивной истории  */


.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.boxes{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Приветсвие + анимация*/

.hello{
    font-size: 15vh;
    margin: 4px;
    color: white;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;   
    padding-top: 10px; 
    
    height: 12vh;
}

.content::before {
    content: "Hello";
    color: white;
    animation: animate 0.5s 1 ease-in;
  }
  
  @keyframes animate {
    0% {
        content: "H";
    }
    25% {
        content: "He";
    }
    50% {
        content: "Hel";
    }
    75% {
        content: "Hell";
    }
    100% {
        content: "Hello";
    }
  }


/* Смайолик + анимация */

.smile{
    font-size: 10vh;
    padding-bottom: 30px;
    
}
.smile img{
    width: 0vh;
    /* animation-name: smile-svg;
    animation-delay: 5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; */
    animation: smile-svg 0.5s 0.5s 1 normal forwards;


}


@keyframes smile-svg{
    0%{
        width: 0;
    }
    100%{
        width: 10vh;
    }
}


/* Кнопки */

.card__btn{
    font-family: 'Ubuntu', sans-serif;
    width: 250px;
    height: 60px;
    background: #277bdc;
    font-size: 18px;

    border-color: transparent;

/*     padding: 10px 10px; */
    margin: 4px;
}
.card__btn:hover{
    background-color: #3180dbd9;
}
.card__link{
    text-decoration: none;
    color: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.card__img{
    height: 40px;
    width: 40px;
    
    display: inline-flex;
    align-items: center;
    padding-left: 6px;
    
}
.invert-color{
    filter: invert(1);
}