*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
@media (min-width:2160px) {
    body{
        width: 1440px;
        margin-left: 30%;
    }
}
.header{
    width: 100%;
    box-sizing: border-box;
}
.menu{
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    
    background: #FFFFFF;
    padding: 0 80px 0 80px;
    /* margin: 10px 0 10px 0; */
}
.menu__ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    /* padding: 10px; */

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    
    text-decoration: none;
    list-style-type: none;
    margin: 10px 0 10px 0;
}
.menu__li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
    padding: 10px;

    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    margin: 10px 0 10px 0;
}
.menu__link{
    font-style: normal;
    font-weight: 100;
    font-size: 2.5vh;
    line-height: 20px;

    list-style-type: none;
    text-decoration: none;
    color: black;
    
}
.menu__link:hover{
    color: rgba(20, 19, 19, 0.731);
}
.logo{
    font-weight: 700;
    font-size: 4vh;
    line-height: 29px;

    display: flex;
    align-items: center;
    justify-items: flex-start;
    text-align: center;


    text-decoration: none;
    color: black;
}
.logo:hover{
    color: rgba(0, 0, 0, 0.759);
}





/* time take  */

.img__text__main{
    /* background-size: 100%; */
    width: 100%;
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1494415859740-21e878dd929d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzOTMxNTg2MQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920);
    background-position: 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0 10px 0;


}
.element__text{
    
    text-transform: uppercase;
    color: whitesmoke;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    padding-bottom: 0;
    margin-bottom: 0;
    
}
.line{
    width: 6em;
    height: 0.4em;
    background-color: #817070;
    margin-top: 7px;
}



/* STORY CARD */



.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 60px;

}
.boxes{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-right: 50px;
    
}
.img__div_story{
    width: 600px;
}
@media (max-width:700px){
    .img__div_story{
        width: 80%;
    }
}
.img__story{
    width: 100%;
    padding-left: 2em;
    padding-right: 40px;
}
.title__story{
    padding-top: 18px;
    padding-bottom: 20px;
    
    text-align: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;



    
}
.title__blog{
    padding-top: 60px;
    padding-bottom: 20px;
    
    text-align: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    background-color: #EFEFEF;;

    
}
.text_boxes{
    width: 700px;   
}
.text{
    
    text-align: justify;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
    padding-left: 40px;
    padding-bottom: 60px;
}

@media (max-width:700px){
    .text_boxes{
        width: 300px;
    }

}

/* --- BLOG --- */




.container1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #EFEFEF;
  padding-bottom: 60px;

}
.card {
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;

    /* border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    width: 300px;

    cursor: pointer;
}
.card:hover{
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 10px 10px #c5c5c5;
}
.card__title{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 24px;

}
.tag {

    /* cursor: pointer; */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding-bottom: 24px;

}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  min-height: auto;
}


.card-body p {
  /* font-size: 13px; */
  margin: 0 0 40px;
  font-weight: 300;
  text-align: justify;
}


/* FOOTER  */

.footer{
    flex:auto;
    /* width: auto; */
    /* height: 260px; */


    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
}
.footer__div{
    background: #817070;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.footer__top{
    display: flex;
    flex-direction: column;
    justify-items: end;
    margin: 28px;
}
.title__footer{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.center__footer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;

}
input{
    margin-top: 28px;
    margin-bottom: 28px;
    /* identical to box height */
    
    text-align: center;
    
    background: #817070;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
}
input::placeholder{
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.email{
    
    width: 300px;
    height: 55px;
    left: 571px;
    top: 141px;
    color: white;
    font-size: 25px;
}
@media (max-width:400px){
    .email{
        width: 250px;
    }
}
.btn__submit{
    width: 100px;
    text-align: center;


    width: 129px;
    height: 55px;
    left: 655px;
    top: 224px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #817070;

background: #FFFFFF;
border: 3px solid #FFFFFF;


}
.btn__submit:hover{
    color: white;
    background-color: #817070;
    cursor: pointer;
}
.footer__bottom{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;

    
    text-align: center;
    text-transform: uppercase;
    
    background-color: white;
    margin: 0;
    padding-top: 29px;
    padding-bottom: 14px;
}
