body{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    color: white;
    display: flex;
    flex-flow: column;
    background-color: rgb(107, 146, 255);
    border: black 5px solid;
    padding: 10px;
    border-radius: 5px;
}
.boxes{
    display: flex;
    flex-flow: row;
    margin: 5px;
}

.text {
    margin: 10px 0 10px 0;
}
.btn {
    width: 6em;
    height: 2em;
    margin: 10px 0 10px 0;

    background-color: black;
    color: white;
    border: transparent;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.66);
    color: wheat;
    width: 6.1em;
    
}