.container{
    width: 300px;
    
    display: flex;
    flex-flow: column wrap;

}
.boxes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 10px;
}


.btn{
    height: 30px;
    width: 100px;
    margin-top: 15px;
}